<div class="viewport">
    <div class="image opacity-40 image-overlay jarallax" style="background-image:url('assets/img/backgrounds/nature6.jpg')"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-lg-6 col-xl-4 text-white text-center">
                <h1 class="display-4">With The Land</h1>
                <p>The "With The Land" website is still in development. You can keep update with progress on our <a href="https://github.com/WithTheLand/withthe.land" class="link"><i class="fab fa-fw fa-github"></i> GitHub</a>.</p>
            </div>
        </div>
    </div>
</div>