<!-- header -->
<header class="header-sticky header-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <i class="fad fa-lg fa-fire-smoke text-light navbar-logo navbar-logo-light"></i>
        <i class="fad fa-lg fa-fire-smoke text-dark navbar-logo navbar-logo-dark"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" role="button">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center mr-o">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/WithTheLand/withthe.land" target="new" role="button">
              <i class="fab fa-github"></i>
              <span class="d-lg-none">GitHub</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/WithTheLand/withthe.land" target="new" role="button">
              <i class="fab fa-facebook"></i>
              <span class="d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/withthe.land" target="new" role="button">
              <i class="fab fa-instagram"></i>
              <span class="d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/WithTheLand/withthe.land" target="new" role="button">
              <i class="fab fa-youtube"></i>
              <span class="d-lg-none">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- header -->

<div class="viewport">
  <div class="image opacity-40 image-overlay" style="background-image:url('https://source.unsplash.com/1920x1080/?canada forest,canada trees,canada mountains,canada nature')"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-lg-6 col-xl-4 text-white text-center">
        <h1 class="display-4">With The Land</h1>
        <p>The "With The Land" website is still in development. You can keep update with progress on our <a href="https://github.com/WithTheLand/withthe.land" class="link"><i class="fab fa-fw fa-github"></i> GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>