<div class="viewport">
    <div class="image opacity-40 image-overlay jarallax" style="background-image:url('https://source.unsplash.com/1920x1080/?canada forest,canada trees,canada mountains,canada nature')"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-60" style="min-height: 400px;">
            <div class="col-md-8 col-lg-6 pt-10 text-white text-center">
                <h1 class="display-4">
                    Contact Us
                </h1>
                <p>Need a way to get in touch with us?</p>
            </div>
        </div>
    </div>
</div>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 text-center">
                <h2>Get in touch</h2>
                <p class="lead">
                    What do you have to tell us? Let us know below!
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailAddress">Email address</label>
                                    <input type="email" class="form-control" id="emailAddress" placeholder="robinrivers@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Robin Rivers">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="647 555 1234">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea rows="5" class="form-control" id="message" placeholder="Your very important message..."></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary">Send email</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Other Methods</h5>
                        <p class="card-text">Need another way to get in contact with us? Try our email, phone or social media platforms.</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-fw fa-envelope mr-1"></i>
                             withtheland3@gmail.com
                        </a>
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-fw fa-phone mr-1"></i>
                            +1 (416) 555 1234
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>