<div class="viewport">
    <div class="image opacity-40 image-overlay jarallax" style="background-image:url('assets/img/backgrounds/nature5.jpg')"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-60" style="min-height: 400px;">
            <div class="col-md-8 col-lg-6 pt-10 text-white text-center">
                <h1 class="display-4">
                    Our Mission
                </h1>
                <p>Making your connection with nature attainable.</p>
            </div>
        </div>
    </div>
</div>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>More than a Mission, a Purpose.</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <p class="lead">Our mission at With the Land is to help everyone from beginners to experienced outdoors people build and make your connection to nature attainable. We hope to help people connect with the land by providing educational content through different platforms so that everyone can find what is right for them. </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 text-white">
                <blockquote class="blockquote blockquote-2 bg-primary">
                    <p>
                        As the creator of With the Land, I believe that as humans we must reconnect and rebuild our relationships with the natural environments around us to ensure they are protected and preserved for all life to use safely and sustainably for generations to come. 
                    </p>
                    <footer class="blockquote-footer">
                        Luke Seabrook, 
                        <cite title="With The Land">With The Land</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <p class="lead">With the Land will provide educational content presented in enjoyable ways for beginners to experienced outdoors people to use, so there is something for everyone. Our goal is to provide you with the knowledge you need to build and or strengthen your connection with nature. The natural world is an amazing, alluring, and beautiful place for all to enjoy and we hope to help you experience this beautiful planet for yourself, safely, responsibly and sustainably.</p>
            </div>
        </div>

    </div>
</section>